body {
    padding: 0;
}

div {
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

div:nth-child(1) {
    background-color: var(--palette-bg-1);
}

div:nth-child(2) {
    background-color: var(--palette-bg-2);
}

div:nth-child(3) {
    background-color: var(--palette-bg-3);
}

lord-icon {
    width: 512px;
    height: auto;
    max-width: 100%;
    aspect-ratio: 1;
}

lord-icon:not(:defined) img {
    display: inline-block;
    width: inherit;
    height: inherit;
}