:root {
    --palette-font: #3c3c3c;
    --palette-primary: #08c18a;
}

body {
    color: var(--palette-font);
}

a {
    color: var(--palette-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
td,
th {
    border: 1px solid #d2d2d8;
    padding: 10px;
}

lord-icon {
    width: 128px;
    height: 128px;
}

lord-icon[trigger=click],
.clickable {
    cursor: pointer;
}